@import "tailwindcss";

body {
  font-family: var(--font-courier-prime), monospace;
}
.article-container {
  width: 90vw;
  margin: 5vh auto;
  max-width: 1650px;
}

.top-container {
  display: grid;
  position: relative;
  align-items: flex-end;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
}

.header {
  width: 100%;
  height: 100%;
}

.sidebar {
  display: flex;
  gap: 20px;
  height: 100%;
  padding-right: 16px;
  flex-direction: column;
}

.sidebar div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#first-sidebar-element .meta-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 16px;
  font-size: 1rem;
}

.meta-info {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 100px;
  text-align: center;
  font-size: 1rem;
  width: fit-content;
}

.sidebar div:nth-child(2) {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header h1 {
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  font-size: 9rem;
  font-family: var(--font-oswald), sans-serif;
  font-weight: 500;
  line-height: 150px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header .prelude {
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  font-size: 1.5rem;
  max-width: 50ch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image-container {
  width: 100%;
  height: 100%;
}

.image-container img {
  height: 100%;
  object-fit: cover;
}

.bottom-container {
  column-count: 3;
  column-gap: 16px;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .header h1 {
    font-size: 6rem;
  }

  .header .prelude {
    font-size: 1.2rem;
  }

  .bottom-container {
    column-count: 2;
    column-gap: 8px;
  }

  #first-sidebar-element .meta-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .header h1 {
    font-size: 4rem;
    line-height: 100px;
  }

  .header .prelude {
    font-size: 1.2rem;
  }

  .bottom-container {
    column-count: 1;
  }

  #first-sidebar-element .meta-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .top-container {
    display: block;
  }
}
